.feature-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.feature-icon {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
}
.main-image {
    background-color: #384B70;
    border-radius: 15px;
    padding: 30px;
}

/* Footer  */
footer {
    margin-top: 10%;
    background-color: #384B70;
    color: white;
}
a {
    color: white !important;
}
.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #007bff;
}
/* Footer-End */
.ftcolor{
    background-color: #384B70;
}

.fww-bold{
    color: white;
}